<header>
  <br>
  <div class="main-div">
      <mat-card class="home-card" >
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Pyramid Workout Helper</mat-card-title>
          <mat-card-subtitle>App by Victor Farrell</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/workout1.png" alt="Photo of the workout">
        <mat-card-content>
          <p>Welcome to the Pyramid Workout App. It's a work in progress.</p>

        <p>I started doing these pyramid workouts a while back.
          I found it annoying to track the 60 second rest timing and the current rep number
          in my head. I wanted to let my mind go blank and do the work, so I built this handy
          website to track it for me on my phone.
        </p>

        <p> I've made some minor improvements along the way and I'm using this site to experiment with new features.
          If you have ideas let me know.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="primary" style="margin-right: 10px;" href="https://www.victorfarrell.com/home" target="blank">About the Dev</a>
          <a mat-raised-button color="accent" style="margin-right: 10px;" href="https://fireship.io/courses/angular" target="blank">Build an app like this</a>
          <a mat-raised-button color="primary" style="margin-right: 10px;" href="https://discord.gg/e8EZ2Zd93r" target="blank">Feedback Discord</a>
          <a mat-raised-button color="accent" style="margin-right: 10px;" href="https://www.youtube.com/embed/9V-ryIuYSGg" target="blank">Workout credited to</a>
          <!-- <button mat-button>LIKE</button>
          <button mat-button>SHARE</button> -->
        </mat-card-actions>
      </mat-card>
  </div>
</header>


